.container {
    width: 1600px;
    height: 7000px;
    margin: 0 auto;
}

@font-face {
    font-family: "Gotham Bold";
    src: url("fonts/Gotham-Font/Gotham-Bold.otf");
}

@font-face {
    font-family: "Gotham Medium";
    src: url("fonts/Gotham-Font/GothamMedium.ttf");
}

@font-face {
    font-family: "Gotham Book";
    src: url("fonts/Gotham-Font/GothamBook.ttf");
}

#anton_block1 {
    width: 1600px;
    height: 880px;
    background-image: url(resources/block1_img.png);
}

#anton_block2 {
    width: 1600px;
    height: 740px;
    background-image: url(resources/block2_img.png);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#header {
    border-bottom-width: 1px;
    border-bottom-color: rgba(255, 255, 255, 0.38);
    border-bottom-style: solid;
    width: 1600px;
    height: 115px;
}

.header_container {
    width: 1200px;
    margin: 0 auto;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#cs {
    height: 75px;
    width: 79px;
    margin-left: 14px;
    margin-top: 3px;
    flex-wrap: nowrap;
    flex-direction: row;
    display: flex;
    align-items: center;
}

#menu_wrap {
    width: 885px;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu {
    width: 702px;
    margin: 0;
    padding: 0;
    height: inherit;
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

#icons {
    width: 164px;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 6px;
}

.header_text {
    font-family: 'PT Sans', sans-serif;
    font-size: 15pt;
    font-weight: 400;
    color: white;
    display: flex;
    height: 108px;
    align-items: center;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.header_text:hover {
    border-bottom: 5px solid rgb(17, 116, 158);
}

#icons>i::before {
    color: white;
    font-size: 18px;
}

#creatives_wrap {
    display: flex;
    height: 765px;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#creatives {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 173px;
}

#text {
    padding-right: 12px;
    padding-top: 41px;
    padding-bottom: 13px;
    height: 371px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#creatives>p {
    display: inline-flex;
    font-size: 114pt;
    font-weight: 700;
    color: white;
    margin: 0;
    justify-content: center;
    padding-top: 5px;
    font-family: 'Gotham Bold', sans-serif;
    letter-spacing: -0.05em;
}

#pow {
    display: inline-flex;
    flex-direction: column;
    color: #11749e;
    font-family: "Gotham Medium", sans-serif;
    font-size: 19pt;
    letter-spacing: 0.7em;
    margin-left: 23px;
    margin-top: 9px;
}

#scroll_container {
    width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#scroll_container>p {
    color: white;
    font-size: 10pt;
    font-family: "Open Sans", sans-serif;
    margin-right: 3px;
}

#scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65px;
    width: 65px;
    margin-right: 6px;
    background-image: url(resources/circle.png);
    margin-top: 6px;
}

#scroll>img {
    height: 13px;
    width: 18px;
}

#feature_wrap {
    display: flex;
    width: 1200px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
    padding-bottom: 17px;
}

.feature {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img_wrap {
    background-image: url(resources/block2_circle.png);
    width: 133px;
    height: 133px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.img_wrap>i::before {
    color: white;
    font-size: 35px;
}

#feature_one>img {
    width: 34px;
    height: 34px;
}

.feature_text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.caption {
    font-family: 'Gotham Medium', sans-serif;
    color: white;
    font-size: 18px;
}

.text_filler {
    font-family: 'Gotham Book', sans-serif;
    color: white;
    text-align: center;
    line-height: 1.3em;
    font-size: 15px;
}
#heading{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height:345px;
}
#agency {
    text-align: center;
    color: white;
    font-family: 'Gotham Medium', sans-serif;
    font-size: 29pt;
    position: absolute;
    margin-top:15px;
    letter-spacing: -0.03em;
}

#w {
    text-align: center;
    color: rgba(255,255,255,0.13);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size:180pt;
    margin-top:38px;
}
.line{
    display: flex;
    flex-direction: row;
}
.alina_block1{
    height: 921px;
    width: 1600px;
       
}
.agency_news-1{
    height: 447px;
    width: 801px;
    display: flex;
    background-image: url(resources/grey\ rectangle.png);
}
.agency_news-2{
    height: 447px;
    width: 799px;
    display: flex;
    background-image: url(resources/table1.png);
}
.agency_news-3{
    height: 474px;
    width: 800px;
    display: flex;
    background-image: url(resources/table2.png);
}

.agency_news-4{
    height: 474px;
    width: 800px;
    display: flex;
    background-image: url(resources/white\ rectangle.png);
}
.agency-text1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 470px;
    margin-top: 83px;
    margin-left: 214px;
    color: white;
    
}
.agency-text-line1{
    height: 12px;
    width: 162px;
    font-family:"Gotham Book",sans-serif ;
    font-size: 13px;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    display: inline;
    white-space: nowrap;
}
.agency-text-line2{
    font-family: "Gotham Medium",sans-serif;
    font-size: 25px;
    height: 19px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 40px;
    display: inline;
  
}
.agency-text-line3{
    height: 86px;
    font-family: "Gotham Book",sans-serif;
    font-size: 15px;
    line-height: 24px;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
  
}
.agency-text-line4{
    height: 86px;
    font-family: "Gotham Book",sans-serif;
    font-size: 15px;
    line-height: 24px;
  
}

.agency-text2{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 470px;
    margin-top: 90px;
    margin-left: 80px;
    color: black;
}

.alina_block2 {
    background-color: white;
    height: 1017px;
    width: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .blog_area{
    width: 1169px;
    height: 816px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .lets_blog_1{
  
    height: 176px;
    width: 116px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(resources/B.png);
    margin-left: 12px;
  }
  
  .lets_blog_1>p{
  
    white-space: nowrap;
    font-family: "Gotham-Medium", sans-serif;
    font-size: 37.55px;
    font-weight: bolder;
  
  }
  
  .lets_blog_2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    margin-bottom: 37px;
    letter-spacing: 0.099em;
  }
  
  .lets_blog_2>p{
    font-family: "Gotham-Book-It", sans-serif;
    font-size: 30.06px;
  }
  
  .photos{
    height: 498px;
    width: 1169px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  
  }
  
  
  .photos>div{
    height: 498px;
    width: 270px;
  }
  
  .photo_block>div>img{
    width: 270px;
    height: 280px;
  }
  
  #text_under_photo_1{
    text-align: center;
    font-family: "Gotham-Medium", sans-serif;
    font-size: 17px;
    color: #11749e;
    margin-top: 38px;
    font-weight: bolder;
    letter-spacing: 0.065em;
    padding-bottom: 0;
    padding-top: 0;
  }
  
  #text_under_photo_2{
    text-align: center;
    font-family: "Gotham-Book-It", sans-serif;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.065em;  
  }
  
  
.rita-block1{
    background-color: #11749e;
    height: 355px;
    width: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-cointainer{
    height: 84px;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 45px;
    padding-right: 2px;
}
.contntpart1-container{

    width: 553px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}
.imgr1-container{
    height: 86px;
    width: 69px;
}
.imgr1-container>img{
    height: 69px;
    width: 69px;
}
.text1-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 86px;
    width: 450px;
    padding-top: 3px;
    
}
.text1-container>p{
    font-family: "Gotham Book";
    font-size: 15px;
    line-height: 24px;
    color: white;
}


.rita_block2{
    height: 848px;
    width: 1600px;
    background-image: url(resources/key-feature.png);
    background-position: left bottom;
    display: flex;
    align-items: center;
    justify-content: center;
}
.keyfeature-container {
    height: 647px;
    width: 1044px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-right: 100px;
}
.container-info{
    height: 380px;
    width: 492px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.keyfeature-info-container {
    height: 376px;
    width: 472px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
    margin-right: 31px;

}
.key-head {
    height: 19px;
    width: 200px;
    padding-left: 6px;
}
.key-head>p{
    font-family: "Gotham Medium";
    font-size: 24px;
    line-height: 36px;
    color: white;
    margin: 0;
}
.key-text {
    height: 84px;
    width: 469px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
    padding-left: 4px;


}
.key-text>p{
    font-family: "Gotham Book";
    font-size: 14px;
    line-height: 24px;
    color: white;
    margin: 0;
}
.key-lists-container{
    height: 160px;
    width: 428px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.key-list{
    height: 38px;
    background-color: #11749e;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.key-list>p{
    font-family: "Gotham Medium";
    font-size: 15px;
    line-height: 23px;
    color: white;
    margin: 0;
    padding-top: 10px;
    padding-left: 19px;
}
.key-list1 {
    width: 370px;  
}
.key-list2 {
    width: 400px;    
}
.key-list3 {
    width: 428px;  
}
.keyfeature-img-container {
    height: 647px;
    width: 319px;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.artem_block1 {
    background-color: white;
    height: 944px;
    width: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team_area {
    width: 1169px;
    height: 822px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 8px;
}

.our_team_1 {
    height: 176px;
    width: 117px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(resources/T.png);
    margin-left: 12px;
}

    .our_team_1 > p {
        white-space: nowrap;
        font-family: "Gotham-Medium", sans-serif;
        font-size: 37.55px;
        font-weight: bolder;
    }

.our_team_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 27px;
    margin-top: -43px;
    letter-spacing: 0.099em;
}

.our_team_2 > p {
    font-family: "Gotham-Book-It", sans-serif;
    font-size: 30.06px;
    margin-left:14px;
}

.photos_2 {
    height: 414px;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.photo_block_2 > div > img {
    width: 270px;
    height: 414px;
    margin-top: -63px;
}

.photos_3 {
    height: 117px;
    width: 1121px;
    display: flex;
    justify-content: space-between;
    margin-top: -189px;
    margin-left: 6px;
    align-items: center;
    flex-direction: row;
}


.photo_block_3 > div > img {
    width: 216px;
    height: 117px;
    margin-top: -33px;
}
#text_under_photo_12 {
    text-align: center;
    font-family: "Gotham-Medium", sans-serif;
    font-size: 20px;
    color: #11749e;
    margin-top: -101px;
    font-weight: bolder;
    letter-spacing: 0.065em;
    padding-bottom: 0;
    padding-top: 0;
}

#text_under_photo_22 {
    text-align: center;
    font-family: "Gotham-Medium", sans-serif;
    margin-top: -13px;
    font-weight: bolder;
    font-size: 15px;
}
.artem_block2 {
    height: 1297px;
    width: 1600px;
    
}
.contact_area {
    width: 1600px;
    height: 1182px;
    display: flex;
    background-image: url(resources/contact_area.png);
    align-items: center;
    flex-direction: column;
}
.contact_area_1 {
    height: 182px;
    width: 117px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(resources/C.png);
    margin-left: 12px;
    position: static;
    margin-top: 144px;
}
    .contact_area_1 > p {
        white-space: nowrap;
        font-family: "Gotham-Medium", sans-serif;
        font-size: 37.55px;
        color: #FFFFFF;
        font-weight: bolder;
        letter-spacing: 0.023em;
    }
.input1 {
    height: 48px;
    width: 1167px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 76px;
}
.input_area {
    height: 48px;
    width: 370px;
    background:transparent;
}
input {
    height: 48px;
    width: 370px;
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 21px;
    box-sizing: border-box;
    font-family: "Gotham-Book-It", sans-serif;
    font-size: 15px;
    
}
    input::-webkit-input-placeholder {
        color: #FFFFFF;
        font-family: "Gotham-Book-It", sans-serif;
    }
.input2 {
    height: 151px;
    width: 1167px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 39px;
}

textarea {
    height: 151px;
    width: 1167px;
    background: transparent;
    border: 1px solid white;
    color: white;
    padding-left: 21px;
    padding-top: 17px;
    box-sizing: border-box;
    font-family: "Gotham-Book-It", sans-serif;
    font-size: 15px;
    resize:none;
}
.end_area {
    width: 1600px;
    height: 116px;
    display: flex;
    background-image: url(resources/end_back.png);
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
    .end_area > p {
        white-space: nowrap;
        font-family: "Roboto-Regular";
        text-decoration: underline;
        margin-left: 221px;
        font-size: 13px;
        color: #FFFFFF;
    }
.btn {
    text-decoration: none;
    border: none;
    width: 228px;
    height: 63px;
    background-color: #11749e;
    cursor: pointer;
    outline: none;
    margin-top: 46px;
}
    .btn > p {
        font-size: 24px;
        font-weight: bolder;
        font-family: "Gotham-Medium", sans-serif;
        color: white;
        margin-left: -10px;
        margin-top: 14px;
    }

    .btn:active {
        transform: scale(0.98);
    }
.map {
    height: 332px;
    width: 1600px;
    margin-top:101px;
}
.map > div > img {
    width: 1600px;
    height: 332px;
}
    
    .bee {
    margin-right: 222px;
}


